.question-counter-wrong {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    line-height: 2;
    font-weight: 500;
    width: 50px;
    height: 50px;
    margin: auto 25px;
    border-radius: 50px;
    background-color: red;
    border: 2px solid red;
}

.question-counter-wrong svg {
    height: 30px;
}

.question-counter-correct {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    line-height: 2;
    font-weight: 500;
    width: 50px;
    height: 50px;
    margin: auto 25px;
    border-radius: 50px;
    background-color: green;
    border: 2px solid green;
}

.question-counter-correct svg {
    height: 30px;
}

.question-input-correct {
    width: 300px;
    padding: 2px;
    background: linear-gradient(to left, green, greenyellow);
    border-radius: 1px;
    margin: 0 0 20px;
}

.question-input-wrong {
    width: 300px;
    padding: 2px;
    background: linear-gradient(to left, red, orangered);
    border-radius: 1px;
    margin: 0 0 20px;
}

.question-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.question-input-container:first-child {
    margin-right: 20px;
}

@media only screen and (max-width: 900px) {
    .question-counter-wrong svg,
    .question-counter-correct svg {
        display: none;
    }

    .question-counter-wrong, .question-counter-correct {
        display: none;
    }

    .question-input-correct, .question-input-wrong {
        width: 280px;
    }
}

.question-image {
    width: 50%;
    margin: 20px auto;
}

audio {
    display: block;
    width: 80%;
    margin: 0 0 20px;
    margin: 20px 0 20px 12px;
}

.question-page-possible-answers p {
    margin: 0;
}

.question-page-possible-answers p:last-of-type {
    margin: 0 0 20px 0x;
}

.question-page-possible-answers ol {
    margin: 0;
}