h1 {
    color: #292727;
    text-align: center;
}

.general-h2 {
    color: #4754a1;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding: 40px 30px 0;
    margin: 0;
    width: auto;
}

.general-h2:after {
    content: '';
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 1px solid #4754a1;
    transition: 0.3s;
}

.general-h2:hover:after {
    width: 70%;
}


h3 {
    color: #261059;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 300;
    margin: 2em 0;
}

h5 {
    color: #4754a1;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.general-button {
    height: 60px;
    width: 300px;
    background: linear-gradient(to left, #4754a1, #7c29cf);
    border: none;
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 1px;
    transition: 0.4s;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    outline: none;
    box-shadow: none;
}

.general-button:hover {
    background: linear-gradient(to right, #4754a1, #7c29cf);
    box-shadow: 0px 1px 20px 0px rgba(71,84,161,1);
    cursor: pointer;
    outline: none;
}

.general-button:active {
    background: linear-gradient(to right, #4754a1, #7c29cf);
    cursor: pointer;
    outline: none;
}

.general-link {
    font-size: 19px;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.general-link:hover {
    color: #0e0f0e;
    cursor: pointer;
}

.general-input-wrapper {
    width: 300px;
    padding: 2px;
    background: linear-gradient(to right, #4754a1, #7c29cf);
    border-radius: 1px;
    margin: 0 0 20px;
}

.general-input {
    display: block;
    width: 296px;
    font-size: 1em;
    padding: 20px 10px;
    border-radius: 1px;
    border: transparent 1px solid;
    background-color: white;
    outline: none;
}

.general-input:focus, .general-input:active {
    cursor: pointer;
    box-shadow: 0px 1px 10px 0px rgba(71,84,161,1);
}

.general-input::placeholder{
    font-size: 15px;
    color: darkgrey;
    text-transform: uppercase;
}

.general-central-wrapper {
    border-radius: 30px;
    margin: 2em auto;
    width: auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    background: transparent;
}

.general-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-span {
    font-size: 1.4em;
    margin: 20px 0;
    text-transform: capitalize;
    font-family: 'Indie Flower', cursive;
    color: #0e0e0e;
}

.general-direction {
    color: #261059;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 1em 0;
}

.general-textarea {
    flex: none;
    display: block;
    width: 95%;
    font-size: 1em;
    padding: 20px 10px;
    border-radius: 1px;
    border: 2px solid #4754a1;
    background-color: white;
    outline: none;
}

.question-textarea-correct {
    flex: none;
    width: 95%;
    padding: 2px;
    border: 2px solid green;
    border-radius: 1px;
    margin: 0 0 20px;
}

.question-textarea-wrong {
    width: 95%;
    padding: 2px;
    border: 2px solid red;
    border-radius: 1px;
    margin: 0 0 20px;
}

.general-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.modal-open {
    overflow: hidden;
}

.general-modal-hidden {
    display: none;
}

.general-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    margin: 15% calc(8%);
    color: white;
    padding: 20px;
    border: 2px solid #4754a1;
    width: 84%;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    margin: 0 0 20px;
}

.general-loader {
    border: 16px solid #4754a1;
    border-top: 16px solid lightblue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
    margin: 20% auto;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.test-page-h4 {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    width: 80%;
    padding: 20px;
    color: #4754a1;
    text-transform: initial;
    line-height: 1.5;
    margin: 30px auto 35px;
    font-weight: 300;
    border: 1px solid #4754a1;
}

.test-page-h4 svg {
    margin: 0 30px 0 0;
    height: 3em;
}