h1 {
    color: #292727;
    text-align: center;
}

h3 {
    color: #261059;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 2em 0;
}

.general-button {
    height: 70px;
    width: 320px;
    background: #7c29cf;
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
    transition: 0.4s;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    outline: none;
}

.general-button:hover {
    background: linear-gradient(to right, #e64ca1, #7c29cf);
    cursor: pointer;
    outline: none;
}

.general-button:active {
    background: linear-gradient(to right, #7c29cf, #e64ca1);
    cursor: pointer;
    outline: none;
}

.general-link {
    font-size: 19px;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.general-link:hover {
    color: #0e0f0e;
    cursor: pointer;
}

.general-input-wrapper {
    width: 100%;
    padding: 3px;
    position: relative;
    background: linear-gradient(to right, #e64ca1, #7c29cf);
    border-radius: 20px;
    margin: 0 0 20px;
}

.general-input {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 20px 10px;
    border-radius: 20px;
    border: transparent 1px solid;
    background-color: whitesmoke;
    outline: none;
}

.general-input:focus, .general-input:active {
    cursor: pointer;
}

.general-input::placeholder{
    font-size: 19px;
    color: #776f80;
    text-transform: uppercase;
}

.general-central-wrapper {
    border-radius: 30px;
    margin: 2em auto;
    width: auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    background: transparent;
}

.general-form {
    width: 100%;
}

.logo-span {
    font-size: 1.4em;
    margin: 20px 0;
    text-transform: capitalize;
    font-family: 'Indie Flower', cursive;
    color: #0e0e0e;
}