.admin-page {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.admin-nav {
    background: lavender;
    height: calc(100vh);
    width: 30%;
    color: black;
    font-size: 1em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.admin-nav ul {
    list-style-type: "- ";
}

.admin-nav ul li {
    text-decoration: none;
    cursor: pointer;
}

.admin-nav p:hover {
    color: darkblue;
}

.admin-nav ul li:hover {
    color: darkblue;
}