.search-form-container {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.search-bar-input {
    border-radius: 4px;
    display: inline-block;
    margin: 0 5px 0 0;
    height: 50px;
    width: 30%;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid hsl(0,0%,80%);
    box-shadow: 0 0 0 1px hsl(0,0%,80%);
    outline: none;
    transition: 0.35s ease;
}

.search-bar-input:hover {
    border: 2px solid #4754a1;
}

.search-bar-input:focus::placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.search-button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: #4754a1;
    border: none;
    display: block;
    margin: 0 5px;
    padding: 5px;
    border-radius: 1px;
    transition: 0.35s;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    outline: none;
    box-shadow: none;
}

.search-button:hover, .search-button:active {
    box-shadow: 0px 1px 10px 0px rgba(71,84,161,1);
    cursor: pointer;
    outline: none;
}

.search-button svg {
    width: 30px;
    height: 30px;
    margin: auto;
}
