.personal-result-container {
    display: flex;
    position: relative;
    top: -10px;
    margin: 0 0 0 90px;
}

.personal-result-test-type {
    display: flex;
    align-items: flex-end;
    line-height: 20px;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    color: #4767a1;
    border-radius: 2px;
    padding: 5px 5px;
    margin: 0 10px;
    top: -10px;
    white-space: nowrap;
}

.personal-result-test-type svg {
    height: 20px;
    margin-right: 6px;
    fill: #4767a1;
}

@media only screen and (max-width: 900px) {
    .personal-result-container {
        flex-wrap: wrap;
        margin: 0 0 0 20px;
        top: 0;
    }
}