.navigation {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #4754a1;
}

.navigation-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.navigation-list-item {
    font-size: 19px;
    text-transform: uppercase;
    margin-right: 20px;
    list-style-type: none;
    display: flex;
}

.navigation-list-item a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 4px;
}

.navigation-list-item a:after {
    content: '';
    display: block;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px solid whitesmoke;
    transition: 0.3s;
}

.navigation-list-item a:hover:after {
    width: 100%;
}

.logo-font {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    color: whitesmoke;
    margin: 0 40px;
    text-decoration: none;
    transition: 0.3s;
}

.logo-font:hover {
    font-size: 45px;
}