.materials-heading {
    text-transform: none;
    color: #4754a1;
    font-weight: 300;
    font-size: 2em;
    margin: 20px auto;
    padding: 0;
    width: 90%;
    text-align: left;
}


@media only screen and (min-width: 901px) {
    .materials {
        display: flex;
        flex-direction: row-reverse;
        max-width: 95%;
        margin: 0 auto;
    }

    .materials-heading {
        width: 95%;
        padding: 0 0 0 10px;
    }
}