.test-page-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #4754a1;
    line-height: 1.5;
    margin: 30px auto 35px;
    font-weight: 600;
    padding: 0 30px;
}

.test-page-h4 {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    width: 80%;
    padding: 20px;
    color: #4754a1;
    text-transform: initial;
    line-height: 1.5;
    margin: 30px auto 35px;
    font-weight: 300;
    border: 1px solid #4754a1;
}

.test-page-h4 svg {
    margin: 0 30px 0 0;
    height: 3em;
}

.check-button-wrapper {
    margin: 20px auto;
}

.check-button-wrapper .question-wrong-answer, .check-button-wrapper .question-right-answer {
    margin: 20px auto;
}