.test-page-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #4754a1;
    line-height: 1.5;
    margin: 30px auto 35px;
    font-weight: 600;
}

.check-button-wrapper {
    margin: 20px auto;
}

.check-button-wrapper .question-wrong-answer, .check-button-wrapper .question-right-answer {
    margin: 20px auto;
}